@media screen and(min-width: 1440px){
    .container {
        width: 100vw;
        height: 100vh;
        .card-container {
            display: flex;
            flex-direction: row;
            height: 45rem;
            width: 60rem;
            z-index: 5;
            overflow: hidden;

            .brand-image {
                width: 50%;

                .image-mobile {
                    display: none;
                }
                .image-web {
                    display: block;
                    width: 100%;
                    height: auto;
                }

            }
            .product-info-container {
                width: 50%;
                height: 100%;
                padding: 2.8rem 3.1rem;
                

                .title {
                    margin-top: 2rem;
                }
                .description {
                    margin-top: 2rem;
                    line-height: 2.3rem;
                }

                .price-container {
                    margin-top: 2.5rem;
                }

                .btn {
                    margin-top: 2.7rem;
                }
            }
        }
    }
}
    
