* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.4rem 1.5rem;
  background-color: hsl(30deg, 38%, 92%);
}
.container .card-container {
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .card-container .brand-image {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.container .card-container .brand-image .image-mobile {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: auto;
}
.container .card-container .brand-image .image-web {
  display: none;
}
.container .card-container .product-info-container {
  background-color: white;
  padding: 2.5rem;
}
.container .card-container .product-info-container .product-name {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.4rem;
}
.container .card-container .product-info-container .title {
  margin-top: 0.9rem;
  font-size: 3.2rem;
  font-family: "Fraunces", serif;
  line-height: 3.3rem;
}
.container .card-container .product-info-container .description {
  margin-top: 1.8rem;
  font-size: 1.35rem;
  font-weight: bold;
  line-height: 2.2rem;
  color: hsl(228deg, 12%, 48%);
}
.container .card-container .product-info-container .price-container {
  display: inline-flex;
  align-items: center;
  margin-top: 2.3rem;
  gap: 1.9rem;
}
.container .card-container .product-info-container .price-container .price {
  font-size: 3.2rem;
  font-weight: bold;
  font-family: "Fraunces", serif;
  color: hsl(158deg, 36%, 37%);
}
.container .card-container .product-info-container .price-container .old-price {
  font-size: 1.3rem;
  font-weight: bold;
  color: hsl(228deg, 12%, 48%);
}
.container .card-container .product-info-container .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.7rem;
  width: 100%;
  padding: 1.6rem;
  border-radius: 1rem;
  background-color: hsl(158deg, 36%, 37%);
  font-weight: bold;
  font-size: 1.4rem;
  gap: 1rem;
  text-align: center;
  color: white;
  cursor: pointer;
}
.container .card-container .product-info-container .btn:hover {
  filter: brightness(50%);
}

@media screen and (min-width: 1440px) {
  .container {
    width: 100vw;
    height: 100vh;
  }
  .container .card-container {
    display: flex;
    flex-direction: row;
    height: 45rem;
    width: 60rem;
    z-index: 5;
    overflow: hidden;
  }
  .container .card-container .brand-image {
    width: 50%;
  }
  .container .card-container .brand-image .image-mobile {
    display: none;
  }
  .container .card-container .brand-image .image-web {
    display: block;
    width: 100%;
    height: auto;
  }
  .container .card-container .product-info-container {
    width: 50%;
    height: 100%;
    padding: 2.8rem 3.1rem;
  }
  .container .card-container .product-info-container .title {
    margin-top: 2rem;
  }
  .container .card-container .product-info-container .description {
    margin-top: 2rem;
    line-height: 2.3rem;
  }
  .container .card-container .product-info-container .price-container {
    margin-top: 2.5rem;
  }
  .container .card-container .product-info-container .btn {
    margin-top: 2.7rem;
  }
}/*# sourceMappingURL=styles.css.map */